
<%- column_div :type => :primary do -%>
<h1>An open web-based network designed to foster community interaction<br /> through the exchange of a community currency<span></h1>

<p style="text-align:center">
	<img class="flow" src="images/flowcircle.png" />
	<div id='center'>
		<a href="/questions">1) Learn</a><br />
		<a href="<%= signup_path %>">2) Signup</a><br />
		<a href="#" style="text-decoration:none;cursor:text;">3) Exchange!</a>
	</div>
</p>






<span id="italic">italic</span> <span id="bold">bold</span> <br />
<textarea id="ta" rows="5" cols="40"></textarea>

<script type="text/javascript">

	setSelectionRange = function(ta, s, e) 
	{	
		if (ta.setSelectionRange) {
			ta.focus(); ta.setSelectionRange(s, e);
		}
		else if (ta.createTextRange) {
			rng = ta.createTextRange(); rng.collapse(true);
			rng.moveEnd('character', e); rng.moveStart('character', s); rng.select();
		}
	}
	setPosition = function(el, pos) 
	{
		setSelectionRange(el, pos, pos);
	}
	wrap = function(w,el)
	{
		t = document.getElementById(el); s = t.selectionStart; e = t.selectionEnd
		if(s==e) return
		t.value = t.value.substring(0,s)+w+t.value.substring(s,e)+w+t.value.substring(e,t.value.length)
		setPosition(t,e+w.length*2)
	}

	Event.observe("italic","click", function(e){ wrap("*","ta") } )
	Event.observe("bold","click", function(e){ wrap("**","ta") } )

</script>


<h2>login</h2>

<% form_tag session_path do -%>

  <div class="form_row">
    <label for="email">Email address</label>
    <%= text_field_tag 'email', params[:email],
                                :maxlength => Person::MAX_EMAIL  %>
  </div>
  <%= set_focus_to "email" %>

  <div class="form_row">
    <label for="password">Password</label>
    <%= password_field_tag 'password', params[:password],
                                       :maxlength => Person::MAX_PASSWORD %>
  </div>


  <div class="form_row">
    <label style="font-weight:normal" for="remember_me" class="checkbox">Remember me:</label>
    <%= check_box_tag 'remember_me', '1', true, :class => "checkbox" %>
  </div>

  <div class="form_row">
    <%= submit_tag 'login', :class => "button" %>
  </div>


<% end -%>



<%- end -%>


<%- column_div :type => :secondary do -%>

 







<% end %>







