<h2><%= global_prefs.app_name %></h2>
<%- column_div :type => :primary do -%>
<%- unless global_prefs.app_name.blank? -%>
<%- else -%>
<h2><%= Blog %></h2>
<%- end -%>

  <%- if @posts.empty? -%>
    <h3 class="blankslate">
      No posts yet!
      <%- if current_person?(@blog.person) -%>
        <%= link_to "Write a post", new_blog_post_path(@blog) %>
      <%- end -%>
    </h3>
  <%- else -%>
    <ul class="list blog full">
      <%= render :partial => 'posts/blog_post', :collection => @posts %>
    </ul>
  <%- end -%>
  
  <%= will_paginate(@posts) %>
<%- end -%>

<%- column_div :type => :secondary do -%>

	<img src="/images/marblehand_sm.jpg" style="border:1px solid black;margin-left:-5px"/>
	
	
	    <%- if !logged_in? -%>

								  <h2>login</h2>

								  <% form_tag session_path do -%>
								<span id="standard">

								    <div class="form_row">
								      <label for="email">Email address</label>
								      <%= text_field_tag 'email', params[:email],
								                                  :maxlength => Person::MAX_EMAIL  %>
								    </div>
								    <%= set_focus_to "email" %>

								    <div class="form_row">
								      <label for="password">Password</label>
								      <%= password_field_tag 'password', params[:password],
								                                         :maxlength => Person::MAX_PASSWORD %>
								    </div>
								</span>

								    <div class="form_row" id="openid">
								      <label for="openid_url">OpenID</label>
								      <%= text_field_tag "openid_url" %>
								    </div>

								    <div class="form_row">
								      <label for="remember_me" class="checkbox">Remember me:</label>
								      <%= check_box_tag 'remember_me', '1', true, :class => "checkbox" %>
								    </div>

								    <div class="form_row">
								      <%= submit_tag 'Sign in', :class => "button" %>
								    </div>


									<div>
									  <%- if global_prefs.can_send_email? -%>
									    <%= link_to "I forgot my password!", new_password_reminder_path %> ::
									  <%- end -%>
									    <span id="noscript" style="display:none">
									        <span id="openid_link"><a href="#" onclick="show_openid(); return false;">Login using OpenID</a></span>
									        <span id="standard_link"><a href="#" onclick="show_standard(); return false;">Back to Regular Login</a></span>
									    </span>
									</div>

								  <% end -%>
					
					
								<script type='text/javascript'>
								show_openid = function() {
								    $('openid').show();
								    $('standard').hide();
								    $('openid_link').hide();
								    $('standard_link').show();
								    createCookie('use_openid', 1, 30);
								    $('openid_url').value = 'http://';
								}
								show_standard = function() {
								    $('openid').hide();
								    $('standard').show();
								    $('openid_link').show();
								    $('standard_link').hide();
								    eraseCookie('use_openid');
								    $('openid_url').value = '';
								}
								$('openid').hide();
								$('standard_link').hide();
								$('noscript').show();

								if (readCookie('use_openid')){
								    show_openid();
								}

								function createCookie(name,value,days) {
								    if (days) {
								        var date = new Date();
								        date.setTime(date.getTime()+(days*24*60*60*1000));
								        var expires = "; expires="+date.toGMTString();
								    }
								    else var expires = "";
								    document.cookie = name+"="+value+expires+"; path=/";
								}

								function readCookie(name) {
								    var nameEQ = name + "=";
								    var ca = document.cookie.split(';');
								    for(var i=0;i < ca.length;i++) {
								        var c = ca[i];
								        while (c.charAt(0)==' ') c = c.substring(1,c.length);
								        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
								    }
								    return null;
								}

								function eraseCookie(name) {
								    createCookie(name,"",-1);
								}
								</script>
	
		<% end %>
	
	
	
  <%- if current_person?(@blog.person) -%>
  <h2>Add new post</h2>

  <p><%= formatting_note %></p>

  <%= render :partial => 'posts/blog_form',
             :locals => { :url => blog_posts_path(@blog),
                          :method => :post } %>
  <%- end -%>
  <% unless global_prefs.gmail.blank? -%>
  <%= render :partial => 'shared/calendar', :object => global_prefs.gmail %>
  <%- end -%>
<%- end -%>
