<li>
  <div class="profile-image">
    <%= image_link(comment.commenter, :image => :thumbnail) %>
    <%= image_tag "icons/comment.gif", :class => "icon" %>
  </div>
  <p class=" published">
    <%= person_link comment.commenter %> said
  </p>
<div class="col_content">
  <%= display comment.body %>

<p class="meta"><%= time_ago_in_words(comment.created_at) %> ago
  <%- if (current_person?(comment.commentable) or
          current_person?(comment.commenter)) -%>
  | <%= link_to "delete", person_comment_path(@person, comment),
                        :method => :delete %>
  <%- end -%>  
</p>
</div>
</li>