<%- column_div :type => :primary do -%>
  <% unless @people.empty? -%>
    <h2>People</h2>
    <%= will_paginate %>
    <ul class="list people">
      <%= render :partial => @people, :locals => {:short => true} %>
    </ul>
    <%= will_paginate %>
  <% end -%>
<%- end -%>

<%- column_div :type => :secondary do -%>
  <%= render :partial => 'searches/box', :locals => {:search_type => "People",:search_model=>"Person"} %>
  <%= render :partial => 'shared/minifeed' %>
<%- end -%>
