<li class="bid">
  <a name="bid_<%= bid.id %>"></a>
  <div class="profile-image">
    <%= image_link bid.person, :image => :thumbnail %>

	<% if bid.status_id == Bid::SATISFIED %>
	    <%= image_tag "icons/check.gif", :class => "icon", :alt => "Bid" %>
	<% else %>
	    <%= image_tag "icons/reply.gif", :class => "icon", :alt => "Bid" %>
	<% end %>
	
	<p class='name'><%= person_link bid.person %></p>


  </div>

  <% unless bid.confirmed? %><p>Marble bid: <%= h bid.estimated_hours %> <span class="meta">Expires <%= relative_time_ago_in_words(bid.expiration_date) %></span></p><% end %>
  <% if bid.confirmed? %>

		<% if bid.req.offer? %>
		  Confirmed completed by <%= person_link bid.person %> for <%= h bid.estimated_hours %> Marbles
		<% else %>
		  Confirmed completed by <%= person_link bid.req.person %> for <%= h bid.estimated_hours %> Marbles
		<% end %>

 <% end %>

  <div class="col_content">
  <p>
	<% if bid.thumbsup? %>
	    <span class='feedback'><%= image_tag "thumbsup.gif", :alt => "Approval: Thumbs Up" %><%= h bid.feedback %></span>
	<% elsif bid.thumbsdown? %>
	    <span class='feedback'><%= image_tag "thumbsdown.gif", :alt => "Approval: Thumbs Down" %><%= h bid.feedback %></span>
	<% elsif bid.confirmed? && bid.notrated? %>
	    <span class='feedback'>Waiting for Feedback</span>
	<% end %>
	
  	<%= h bid.description unless bid.confirmed? %>
  </p>
  <%= render :partial => "shared/accepted_bid", :object => bid %>
  <p class="meta">
	
    <% if bid.confirmed? %>
		<%= bid_approved_message(bid) %><br>
	<% else -%>
	    <% if bid.completed? %><%= bid_completed_message(bid) %><br><% end -%>
	    <% if bid.commitment? %><%= bid_commitment_message(bid) %><br><% end -%>
	    <% if bid.accepted? %><%= bid_accepted_message(bid) %><br><% end -%>
	<% end -%>
	
   <% if bid.notrated? %>Submitted by <%= person_link bid.person %> <%= time_ago_in_words(bid.created_at) %> ago 

	    <% if admin? || current_person?(bid.person) -%>
	    | <%= link_to "Edit", edit_bid_path(bid) unless bid.accepted? %>
	    | <%= link_to "Delete", req_bid_path(bid.req,bid), :confirm => 'Are you sure?', :method => :delete unless bid.alreadyaccepted? %>
	    <% end -%>

   <% end %>

  </p>
  </div>
</li>
