<li class="req">
  <a name="req_<%= req.id %>"></a>
  <div class="profile-image">
    <%= image_link req.person, :image => :thumbnail if params[:controller]!="people" %>
	<% arrow_image = (req.offer? or req.exchange?) ? "icons/arrow_left.gif" : "icons/arrow_right.gif" %>
    <%= image_tag arrow_image, :class => "icon", :alt => "Request" %>
	<% if params[:controller] != "people" %><p class='name'><%= person_link req.person %></p><% end %>
  </div>
  <p>
	
	<% if req.offer? %>
		<%= "<em>Offer:</em> " if ["categories"].include? params[:controller] %>
		<%= link_to h(req.name), {:controller =>"offers",:action =>req.id}, :class => "show-follow" %>
	<% elsif req.exchange? %>
		<%= "<em>Exchange:</em> " if ["categories"].include? params[:controller] %>
		<%= link_to h(req.name), req, :class => "show-follow" %>
	<% else %>
		<%= "<em>Request:</em> " if ["categories"].include? params[:controller] %>
		<%= link_to h(req.name), req, :class => "show-follow" %>
	<% end %>
	
	<% if req.active %>
		(<%= h req.estimated_hours %> Marbles)
	    <span class="meta">Due: <%= relative_time_ago_in_words(req.due_date) %></span>
	<% else %>	
		<span class="meta">Not active</span>
	<% end %>
	

	

  </p>
<div class="col_content">
  <p class="meta">

	<%= req.categories.collect { |cat| cat.long_name + "<br />"}.to_s %>

  </p>
  <p>
	
	<% if req.exchange? %>
	  <%= "#{req.estimated_hours} Marbles given to #{person_link req.given_to}" %>
	<% end %>
		
    <% if params[:action] == "index" %>
	      <%= display shorten(req.description, 100) %>
	<% else %>
    	  <%= display req.description %>
	<% end %>
  </p>

   <br />
  <span class="meta">

    Posted by <%= person_link req.person %>
    <%= time_ago_in_words(req.created_at) %> ago


    <% if current_person?(req.person) && !req.active && !req.exchange? -%>
     | 
		  <% form_for :req,  :url => req_path(req), :html => {:id => "active_form", :method => :put} do |f| %>
		    <%= f.hidden_field :active, :value => 1 %>
			<%= link_to_function "Activate", "document.getElementById('active_form').submit()" %>
		  <% end -%>
   <% end -%>

    <% if current_person?(req.person) && req.active && !req.exchange? -%>
     | 
		  <% form_for :req,  :url => req_path(req), :html => {:id => "active_form", :method => :put} do |f| %>
		    <%= f.hidden_field :active, :value => 0 %>
			<%= link_to_function "Deactivate", "document.getElementById('active_form').submit()" %>
		  <% end -%>
   <% end -%>

    <% if current_person?(req.person)  && !req.exchange? -%>
     | <%= link_to "Edit", edit_req_path(req) #unless req.has_accepted_bid?
      %>
    <% end -%>


    <% if admin? || current_person?(req.person)  && !req.exchange? -%>
      | <%= link_to "Delete", req, :confirm => 'Are you sure?', :method => :delete #unless (req.has_commitment? || req.has_approved?) 
      %>
    <% end -%>


  </span>
</div>
</li>
