<%= render :partial => 'jscript', :locals => { :jscript_file_name => 'req_form' } %>
<%- column_div :type => :primary do -%>

<h2>New Offer</h2>

<%= error_messages_for :req %>

<% form_for(@req, :url => "/offers", :html => {:method => :post, :class => "new_req", :id => "new_req"} ) do |f| %>
  <div class="form_row">
    <%= f.label 'Title' %>
    <%= f.text_field :name %>
  </div>
  <div class="form_row">
    <%= f.label :estimated_marble_cost %>
    <%= f.text_field :estimated_hours, :size => 5 %>
  </div>
  <div class="form_row">
    <%= f.label :due_date %>
    <%= f.text_field :due_date, :size => 7 %>
  </div>
  <div class="form_row">
    <%= f.label :description %>
    <%= f.text_area :description, :rows => 5 %>
  </div>
  <div class="form_row full">
    <%= render :partial => "shared/select_categories", :locals => { :model_name => 'req' } %>
  </div>
  <div class="form_row">
    <%= f.submit "Create" %>
  </div>
<% end %>

<%- end -%>

<%- column_div :type => :secondary do -%>
  <%= render :partial => 'searches/box', :locals => {:search_type => "Offers",:search_model=>"Req"} %>
  <%= render :partial => 'shared/minifeed' %>
<%- end -%>
