<% content_for(:jquery_support) do %>
<%= javascript_include_tag 'jquery-1.2.6' %>
<%= javascript_include_tag 'jquery-ui-personalized-1.6rc2.min' %>
<script type="text/javascript">
  jQuery.noConflict();
</script>
<%= javascript_include_tag 'cat_accordion' %>
<% end -%>  
<h2 style="margin-bottom:0px">SkillBank Categories</h2>
<%- if logged_in? and current_person.admin? -%>
	<%= render :partial => 'shared/add_category_button' %>
<%- end -%>
<%- column_div :type => :primary do -%>

<%- if @top_level_categories.empty? -%>
    <h3 class="blankslate">No categories (yet!)</h3>
<%- else -%>
	<% halfish = ((@top_level_categories.length)/2).floor %>
   <div style='position:relative;padding-top:5px;height:600px'> 
   <ul id="categoryMenu" class="categories">
      <%= render :partial => 'category', :collection => @top_level_categories[0,halfish] %>
  </ul>
    <ul id="categoryMenu2" class="categories">
      <%= render :partial => 'category', :collection => @top_level_categories[-halfish,halfish] %>
    </ul>
    <br />
   </div>
<%- end -%>


<%- end -%>


